In [1]:
import pandas as pd

In [49]:

df = pd.read_csv('../WPP2019_Period_Indicators_Medium.csv')
df

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
0,4,Afghanistan,2,Medium,1950-1955,1953,7.450,1.636,50.314,2015.476,...,36.862,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.060,29.835
1,4,Afghanistan,2,Medium,1955-1960,1958,7.450,1.765,50.998,2201.589,...,33.718,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.060,29.835
2,4,Afghanistan,2,Medium,1960-1965,1963,7.450,1.899,51.477,2439.130,...,30.808,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.060,29.835
3,4,Afghanistan,2,Medium,1965-1970,1968,7.450,2.017,51.646,2728.221,...,28.223,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.060,29.835
4,4,Afghanistan,2,Medium,1970-1975,1973,7.450,2.141,51.234,3056.451,...,25.495,1520.938,802.414,718.524,-0.335,-20.0,2.544,25.739,1.060,29.835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,716,Zimbabwe,2,Medium,2075-2080,2078,1.913,0.919,14.153,2100.753,...,9.407,1396.229,729.240,666.989,-0.337,-50.0,0.441,4.746,1.021,29.872
14936,716,Zimbabwe,2,Medium,2080-2085,2083,1.877,0.903,13.429,2030.941,...,10.001,1512.603,794.805,717.798,-0.331,-50.0,0.310,3.428,1.021,29.984
14937,716,Zimbabwe,2,Medium,2085-2090,2088,1.849,0.891,12.867,1970.518,...,10.631,1627.991,853.756,774.235,-0.326,-50.0,0.191,2.236,1.021,30.094
14938,716,Zimbabwe,2,Medium,2090-2095,2093,1.831,0.883,12.492,1926.925,...,11.191,1726.185,899.147,827.038,-0.324,-50.0,0.098,1.301,1.021,30.201
14939,716,Zimbabwe,2,Medium,2095-2100,2098,1.816,0.876,12.194,1886.759,...,11.611,1796.481,927.691,868.790,-0.323,-50.0,0.026,0.583,1.021,30.307

In [50]:
df['Start Date'] = df['Time'].apply(lambda s: pd.to_datetime(s.split('-')[0]))

In [51]:
df['End Date'] = df['Time'].apply(lambda s: pd.to_datetime(s.split('-')[1].replace('-', '')))

In [52]:
df

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC,Start Date,End Date
0,4,Afghanistan,2,Medium,1950-1955,1953,7.450,1.636,50.314,2015.476,...,794.020,682.585,-0.499,-20.0,1.296,13.452,1.060,29.835,1950-01-01,1955-01-01
1,4,Afghanistan,2,Medium,1955-1960,1958,7.450,1.765,50.998,2201.589,...,783.110,672.495,-0.463,-20.0,1.683,17.280,1.060,29.835,1955-01-01,1960-01-01
2,4,Afghanistan,2,Medium,1960-1965,1963,7.450,1.899,51.477,2439.130,...,777.437,682.347,-0.422,-20.0,2.026,20.669,1.060,29.835,1960-01-01,1965-01-01
3,4,Afghanistan,2,Medium,1965-1970,1968,7.450,2.017,51.646,2728.221,...,790.745,700.151,-0.379,-20.0,2.307,23.423,1.060,29.835,1965-01-01,1970-01-01
4,4,Afghanistan,2,Medium,1970-1975,1973,7.450,2.141,51.234,3056.451,...,802.414,718.524,-0.335,-20.0,2.544,25.739,1.060,29.835,1970-01-01,1975-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,716,Zimbabwe,2,Medium,2075-2080,2078,1.913,0.919,14.153,2100.753,...,729.240,666.989,-0.337,-50.0,0.441,4.746,1.021,29.872,2075-01-01,2080-01-01
14936,716,Zimbabwe,2,Medium,2080-2085,2083,1.877,0.903,13.429,2030.941,...,794.805,717.798,-0.331,-50.0,0.310,3.428,1.021,29.984,2080-01-01,2085-01-01
14937,716,Zimbabwe,2,Medium,2085-2090,2088,1.849,0.891,12.867,1970.518,...,853.756,774.235,-0.326,-50.0,0.191,2.236,1.021,30.094,2085-01-01,2090-01-01
14938,716,Zimbabwe,2,Medium,2090-2095,2093,1.831,0.883,12.492,1926.925,...,899.147,827.038,-0.324,-50.0,0.098,1.301,1.021,30.201,2090-01-01,2095-01-01
14939,716,Zimbabwe,2,Medium,2095-2100,2098,1.816,0.876,12.194,1886.759,...,927.691,868.790,-0.323,-50.0,0.026,0.583,1.021,30.307,2095-01-01,2100-01-01

In [53]:
df['Date'] = [pd.date_range(s, e, freq='y') for s, e in zip(df['Start Date'], df['End Date'])]

In [54]:
df = df.drop(columns=['Start Date', 'End Date', 'Time'])

In [55]:
df.head(20)

,LocID,Location,VarID,Variant,MidPeriod,TFR,NRR,CBR,Births,LEx,...,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC,Date
0,4,Afghanistan,2,Medium,1953,7.450,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.000,1.296,13.452,1.06,29.835,"DatetimeIndex(['1950-12-31', '1951-12-31', '19..."
1,4,Afghanistan,2,Medium,1958,7.450,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.000,1.683,17.280,1.06,29.835,"DatetimeIndex(['1955-12-31', '1956-12-31', '19..."
2,4,Afghanistan,2,Medium,1963,7.450,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.000,2.026,20.669,1.06,29.835,"DatetimeIndex(['1960-12-31', '1961-12-31', '19..."
3,4,Afghanistan,2,Medium,1968,7.450,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.000,2.307,23.423,1.06,29.835,"DatetimeIndex(['1965-12-31', '1966-12-31', '19..."
4,4,Afghanistan,2,Medium,1973,7.450,2.141,51.234,3056.451,38.74,...,1520.938,802.414,718.524,-0.335,-20.000,2.544,25.739,1.06,29.835,"DatetimeIndex(['1970-12-31', '1971-12-31', '19..."
5,4,Afghanistan,2,Medium,1978,7.450,2.275,50.599,3294.738,41.63,...,1473.434,775.431,698.003,-17.722,-1153.959,1.025,27.971,1.06,29.871,"DatetimeIndex(['1975-12-31', '1976-12-31', '19..."
6,4,Afghanistan,2,Medium,1983,7.450,2.426,50.039,3164.281,44.97,...,1237.477,651.457,586.020,-52.898,-3345.095,-2.245,30.470,1.06,29.904,"DatetimeIndex(['1980-12-31', '1981-12-31', '19..."
7,4,Afghanistan,2,Medium,1988,7.469,2.593,49.391,3006.757,48.56,...,1007.309,531.357,475.952,-25.057,-1525.351,0.779,32.844,1.06,29.917,"DatetimeIndex(['1985-12-31', '1986-12-31', '19..."
8,4,Afghanistan,2,Medium,1993,7.482,2.749,48.511,3701.778,51.96,...,1079.813,573.875,505.938,40.316,3076.383,7.556,34.360,1.06,29.884,"DatetimeIndex(['1990-12-31', '1991-12-31', '19..."
9,4,Afghanistan,2,Medium,1998,7.654,2.937,48.908,4755.189,54.67,...,1218.352,650.627,567.725,-8.923,-867.540,2.750,36.377,1.06,29.779,"DatetimeIndex(['1995-12-31', '1996-12-31', '19..."
10,4,Afghanistan,2,Medium,2003,7.182,2.852,46.466,5394.050,57.00,...,1263.923,675.302,588.621,6.411,744.193,4.214,35.578,1.06,29.582,"DatetimeIndex(['2000-12-31', '2001-12-31', '20..."
11,4,Afghanistan,2,Medium,2008,6.478,2.666,42.513,5828.482,59.63,...,1250.888,669.978,580.910,-7.632,-1046.361,2.579,33.389,1.06,29.563,"DatetimeIndex(['2005-12-31', '2006-12-31', '20..."
12,4,Afghanistan,2,Medium,2013,5.447,2.319,37.098,5898.490,62.32,...,1192.155,641.196,550.959,3.282,521.769,3.296,29.600,1.06,29.377,"DatetimeIndex(['2010-12-31', '2011-12-31', '20..."
13,4,Afghanistan,2,Medium,2018,4.555,1.984,32.856,6024.265,64.28,...,1194.929,646.140,548.789,-1.716,-314.602,2.465,26.339,1.06,29.427,"DatetimeIndex(['2015-12-31', '2016-12-31', '20..."
14,4,Afghanistan,2,Medium,2023,3.851,1.710,29.680,6118.618,65.97,...,1215.439,660.197,555.242,-1.455,-300.000,2.235,23.784,1.06,29.357,"DatetimeIndex(['2020-12-31', '2021-12-31', '20..."
15,4,Afghanistan,2,Medium,2028,3.301,1.488,26.878,6156.694,67.38,...,1264.548,691.018,573.530,-1.441,-330.092,1.993,21.357,1.06,29.297,"DatetimeIndex(['2025-12-31', '2026-12-31', '20..."
16,4,Afghanistan,2,Medium,2033,2.908,1.326,24.429,6148.908,68.55,...,1343.278,738.962,604.316,-1.239,-311.796,1.787,19.092,1.06,29.250,"DatetimeIndex(['2030-12-31', '2031-12-31', '20..."
17,4,Afghanistan,2,Medium,2038,2.632,1.211,22.235,6086.715,69.57,...,1450.316,802.852,647.464,-1.139,-311.802,1.581,16.937,1.06,29.216,"DatetimeIndex(['2035-12-31', '2036-12-31', '20..."
18,4,Afghanistan,2,Medium,2043,2.426,1.125,20.241,5965.370,70.47,...,1592.187,885.988,706.199,-1.056,-311.082,1.379,14.839,1.06,29.197,"DatetimeIndex(['2040-12-31', '2041-12-31', '20..."
19,4,Afghanistan,2,Medium,2048,2.260,1.053,18.435,5791.247,71.28,...,1772.304,989.964,782.340,-0.987,-310.076,1.181,12.793,1.06,29.194,"DatetimeIndex(['2045-12-31', '2046-12-31', '20..."

In [56]:
df = df.explode('Date')

In [57]:
df.head(20)

,LocID,Location,VarID,Variant,MidPeriod,TFR,NRR,CBR,Births,LEx,...,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC,Date
0,4,Afghanistan,2,Medium,1953,7.45,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835,1950-12-31
0,4,Afghanistan,2,Medium,1953,7.45,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835,1951-12-31
0,4,Afghanistan,2,Medium,1953,7.45,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835,1952-12-31
0,4,Afghanistan,2,Medium,1953,7.45,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835,1953-12-31
0,4,Afghanistan,2,Medium,1953,7.45,1.636,50.314,2015.476,28.61,...,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835,1954-12-31
1,4,Afghanistan,2,Medium,1958,7.45,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835,1955-12-31
1,4,Afghanistan,2,Medium,1958,7.45,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835,1956-12-31
1,4,Afghanistan,2,Medium,1958,7.45,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835,1957-12-31
1,4,Afghanistan,2,Medium,1958,7.45,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835,1958-12-31
1,4,Afghanistan,2,Medium,1958,7.45,1.765,50.998,2201.589,31.13,...,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835,1959-12-31
2,4,Afghanistan,2,Medium,1963,7.45,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835,1960-12-31
2,4,Afghanistan,2,Medium,1963,7.45,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835,1961-12-31
2,4,Afghanistan,2,Medium,1963,7.45,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835,1962-12-31
2,4,Afghanistan,2,Medium,1963,7.45,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835,1963-12-31
2,4,Afghanistan,2,Medium,1963,7.45,1.899,51.477,2439.130,33.74,...,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835,1964-12-31
3,4,Afghanistan,2,Medium,1968,7.45,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835,1965-12-31
3,4,Afghanistan,2,Medium,1968,7.45,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835,1966-12-31
3,4,Afghanistan,2,Medium,1968,7.45,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835,1967-12-31
3,4,Afghanistan,2,Medium,1968,7.45,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835,1968-12-31
3,4,Afghanistan,2,Medium,1968,7.45,2.017,51.646,2728.221,36.15,...,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835,1969-12-31

In [58]:
df = df.groupby(['Location', 'Date']).mean().reset_index()

In [59]:
df.to_csv('../WPP2019_Fertility_by_Age.csv')